@use 'config';
@use 'reset';
@use 'util';

body{
    background-image: url(./../assets/images/bg-pattern.svg);
    background-size: 100% 50%;  
    background-repeat: no-repeat;
}

main{
    min-height: 100vh;
}

.title{
    background-image: url(./../assets/images/pattern-circles.svg);
    background-repeat: no-repeat;
    min-height: 150px;
    background-position: center;
    margin-bottom: 2em
}

.title-font{
    @extend %font1;
    font-size: util.clamped(1.5rem, 1.8rem)
}

.subtitle-font{
    @extend %font2;
    margin-top: 0.8em;
}

.card{
    width: util.clamped(16.9rem, 31.3rem);
    border-radius: 5px;
    background-color: config.$color-neutral2;
    box-shadow: 1px 1px 20px 1px config.$color-neutral1-300;
    padding-left: min(7vw, 3em);
    padding-right: min(7vw, 3em);
    padding-top: min(5vh, 3em);
    padding-bottom: min(5vh, 3em);

    &>*:not(:first-child){
        margin-top: 2em
    }
}

.pageview{
    @extend %font2;
    font-size: 0.9rem;
    letter-spacing: 2px;
}

.billing{
    @extend %font1;
    font-size: 2.4rem;
}

.bill-unit{
    @extend %font2;
    font-size: 1rem;
    vertical-align: middle;
}

.progress-bar{
    width: 100%;
    background-color: config.$color-neutral1-300;
    height: 7px;

    &:hover{
        cursor: pointer;
    }
}

.progress{
    height: 7px;
    background-color: config.$color-primary1-100;
    width: 50%;
}

.progress::after{
    content:"";
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    border-radius: 50%;
    background-color: config.$color-primary1-200;
    background-image: url(./../assets/images/icon-slider.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    left: calc(100% - 1.2rem);
    bottom : 1rem
}

.billing-mode{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4em !important;
}
.ghost{
    width: 25%;
}

.toggle{
    width: 3em;
    height: 1.5em;
    border-radius: 15px;
    background-color: config.$color-neutral1-300;
    // margin-left: 1em;
    // margin-right: 1em;

    &:hover{
        background-color: config.$color-primary1-100;
        cursor: pointer;
    }
}

.toggle-circle{
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    background-color: config.$color-neutral2;
    position: relative;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.toggle-monthly{
    left: 2.4px;
    top: 2.4px;
}

.toggle-yearly{
    left: 27px;
    top: 2.4px;
}

.text1-font{
    @extend %font2;
    font-size: 0.8rem;
}

.discount{
    font-family: config.$font-family;
    font-weight: 600;
    // margin-left: 1em;
    background-color: config.$color-primary2-100;
    color: config.$color-primary2-200;
    font-size: 0.8rem;
    border-radius: 10px;
    padding: 5px
}

.features{
    line-height: 1.5em;
    
}

@media screen and (max-width:600px){
    .billing{
        position: absolute;
        transform: translate(33%, 150%);
    }

    .billing-mode{
        margin-top: 120px !important;
    }

    .discount span{
        display: none;
    }

    .ghost{
        display: none;
    }
}

//util

%font1{
    font-family: config.$font-family;
    font-weight: 800;
    color: config.$color-neutral1-500;
}

%font2{
    font-family: config.$font-family;
    font-weight: 600;
    color: config.$color-neutral1-400
}

.section-separator{
    width: 119%;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: config.$color-neutral1-300;
    position: relative;
    right: 9.5%;
}

.btn{
    padding-left : 2.5em;
    padding-right : 2.5em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    border-radius: 20px;
    background-color: config.$color-neutral1-500;
    color: config.$color-neutral1-300;

    &:hover{
        color: config.$color-neutral2;
    }
}