@use 'config';
@use 'reset';
@use 'util';

body{
    background-image: url(./../assets/images/bg-pattern.svg);
    background-size: 100% 50%;  
    background-repeat: no-repeat;
}

main{
    min-height: 100vh;
}

.title{
    background-image: url(./../assets/images/pattern-circles.svg);
    background-repeat: no-repeat;
    min-height: 150px;
    background-position: center;
}

//util

.font1{
    font-family: config.$font-family;
    font-weight: 800;
    font-size: 1.8rem;
    color: config.$color-neutral1-500;
}

.font2{
    font-family: config.$font-family;
    font-weight: 600;
    font-weight: 1rem;
    color: config.$color-neutral1-400
}